# HIT Open Day 2023

In [1]:
import pandas as pd 
import numpy as np

In [2]:
N = 50

# Tạo mảng numpy với kích thước 50x7
data = np.zeros((N, 7), dtype='object')

# Tuổi: random trong khoảng [18:22]
data[:, 0] = np.random.randint(18, 23, size=N)

nganh_values = ["CNTT", "KTPM", "KHMT", "HTTT", "CNDPT"]
data[:, 1] = np.random.choice(nganh_values, size=N)

# Typing
data[:, 2] = np.random.choice([np.nan, *np.arange(11)], size=N)

# Lập trình thi đấu
data[:, 3] = np.random.choice([np.nan, *np.arange(11)], size=N)

# Web
data[:, 4] = np.random.choice([np.nan, *np.arange(11)], size=N)

# AI-Tank
data[:, 5] = np.random.choice([np.nan, *np.arange(11)], size=N)

# Rung chuông vàng
data[:, 6] = np.random.choice([np.nan, *np.arange(11)], size=N)

# Tạo DataFrame từ mảng numpy
columns = ["Tuoi", "Nganh", "Typing", "LapTrinhThiDau", "Web", "AI-Tank", "RungChuongVang"]
df = pd.DataFrame(data, columns=columns)

# In ra kết quả
df.head()

  Tuoi Nganh Typing LapTrinhThiDau  Web AI-Tank RungChuongVang
0   19  KHMT    9.0            2.0  4.0     5.0            9.0
1   19  KTPM    2.0            4.0  7.0    10.0            6.0
2   21  KTPM    3.0            1.0  8.0     7.0            8.0
3   20  CNTT    5.0            7.0  7.0    10.0            6.0
4   19  CNTT    NaN            3.0  7.0     5.0           10.0

In [3]:
# Thêm cột mới là ID”, “Tổng cuộc thi” (những giá trị NaN là member không tham gia thi cuộc thi đó), “Tổng điểm”.
df['TongCuocThi'] = df.iloc[:, 2:].notna().sum(axis=1)
df['TongDiem'] = df.iloc[:, 2:].sum(axis=1, skipna=True)
df['ID'] = np.arange(len(df)) + 2022600000

In [4]:
df.head()

,Tuoi,Nganh,Typing,LapTrinhThiDau,Web,AI-Tank,RungChuongVang,TongCuocThi,TongDiem,ID
0,19,KHMT,9.0,2.0,4.0,5.0,9.0,5,34.0,2022600000
1,19,KTPM,2.0,4.0,7.0,10.0,6.0,5,34.0,2022600001
2,21,KTPM,3.0,1.0,8.0,7.0,8.0,5,32.0,2022600002
3,20,CNTT,5.0,7.0,7.0,10.0,6.0,5,40.0,2022600003
4,19,CNTT,NaN,3.0,7.0,5.0,10.0,4,29.0,2022600004

In [5]:
df.set_index('ID', inplace=True)

In [6]:
# * In ra thông tin “ID”, “Tuổi”, “Ngành” của 3 người có tổng điểm cao nhất.
df.sort_values(by='TongDiem', ascending=False).head(3)[['Tuoi', 'Nganh']]

           Tuoi Nganh
ID
2022600003   20  CNTT
2022600040   20  KTPM
2022600007   20  HTTT

In [7]:
# * Xác định các bạn ngành “CNTT” có xu hướng tham gia cuộc thi nào.
df[df['Nganh'] == 'CNTT'].iloc[:, 2:-2].notna().sum(axis=0).sort_values(ascending=False).head(1)

LapTrinhThiDau    13
dtype: int64

In [8]:
# * Xác định cuộc thi nào có số lượng tham gia lớn nhất, 
df.iloc[:, 2:-2].notna().sum(axis=0).sort_values(ascending=False).head(1)

# cuộc thi nào có số lượng tham gia ít nhất.
df.iloc[:, 2:-2].notna().sum(axis=0).sort_values(ascending=False).tail(1)

AI-Tank    46
dtype: int64